$color-primary: #213f7d;
$color-secondary: #545f7d;
$color-secondary-transparent: #545f7d09;
$color-tertiary: #39cdcc;
$color-white: #fff;

$fontsize-big: 4rem;
$fontsize-medium-2: 2.4rem;
$fontsize-medium: 2rem;
$fontsize-regular: 1.6rem;
$fontsize-regular-2: 1.4rem;
$fontsize-small: 1.2rem;

$fontweight-bolder: 700;
$fontweight-bold: 600;
$fontweight-semibold: 500;
$fontweight-regular: 400;

$margin-bottom-1: 2rem;

$border-radius-1: 5px;
$border-radius-2: 8px;
